/******************************************
HEADER
******************************************/

#logoWrapper {
  max-height: 110px;
  max-width: 110px;
}

.navbar {
  background: #ffffff;
  padding-left: 5vw;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: #42c6c6;
  border-radius: 8px;
  color: #ffffff;
  transition: background-color 0.5s linear;
}

.nav li {
  padding-bottom: 15px;
  padding-top: 15px;
}

.nav a{
  font-size: 1.5em;
}

.nav li ul li {
  padding:0px;
}

/****** START MENU FUNCTIONALITY ********/
.navbar-toggle .icon-bar:nth-of-type(2) {
  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  top: 2px;
}

.navbar-toggle .icon-bar {
  background-color: #000000;
  position: relative;
  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
  top: 6px;
  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
  top: -6px;
  transform: rotate(-45deg);
}

.nav li {
  padding-bottom: 15px;
  padding-top: 15px;
}

.nav a{
  font-size: 1.5em;
}

.nav li ul li {
  padding: 0px;
}
/****** END MENU FUNCTIONALITY **********/

@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    text-align: center;
    top: 4.6em;
  }

  .dropdown-menu>li>a:hover {
    background-color: #42c6c6;
    border-radius: 8px;
    transition: background-color 0.5s linear;
  }

  .navbar-nav{
    margin-top: -50px;
    text-align: center;
    vertical-align: top;
    width: 100%;
  }

  .navbar-nav li {
    display: inline-block;
    float: none;
  }
}

@media (max-width: 767px) {
  .nav a {
    background: #ffffff;
    font-size: 1em;
  }

  #logoWrapper {
    display: block;
    margin: 0, auto;
    max-height: 80px;
    max-width: 80px;
    padding-top: 7.5px;
  }

  .caret {
    display: none;
  }

  .nav li {
    padding: 0px;
  }
}

/******************************************
BODY
******************************************/

body {
  background: #595959;
}

.contentPanel {
  background-color: white;
  border-radius: 8px;
}

#personalPicture {
  max-width: 100%;
}

#columnOne {
  display: inline-block;
  margin-left: 2%;
  margin-top: 110px;
  width: 47%;
}

#columnTwo {
  display: inline-block;
  float:right;
  margin-right: 2%;
  margin-top:110px;
  width: 47%;
}

#columnThree {
  margin: 0 2%;
  width: 96%;
  text-align: center;
}

@media (max-width: 767px) {
  #columnOne {
    display: block;
    margin: 80px 2% 0 2%;
    width: 96%
  }

  #columnTwo {
    display: block;
    margin: 0 2%;
    width: 96%;
  }

  #columnThree {
    display: block;
    margin-top: 89px;
  }
}
