/******************************************
HEADER
******************************************/

#logoWrapper {
  max-height: 110px;
  max-width: 110px;
}

.navbar {
  background: #ffffff;
  padding-left: 5vw;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: #42c6c6;
  border-radius: 8px;
  color: #ffffff;
  transition: background-color 0.5s linear;
}

.nav li {
  padding-bottom: 15px;
  padding-top: 15px;
}

.nav a{
  font-size: 1.5em;
}

.nav li ul li {
  padding:0px;
}

/****** START MENU FUNCTIONALITY ********/
.navbar-toggle .icon-bar:nth-of-type(2) {
  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  top: 2px;
}

.navbar-toggle .icon-bar {
  background-color: #000000;
  position: relative;
  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
  top: 6px;
  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
  top: -6px;
  transform: rotate(-45deg);
}

.nav li {
  padding-bottom: 15px;
  padding-top: 15px;
}

.nav a{
  font-size: 1.5em;
}

.nav li ul li {
  padding: 0px;
}
/****** END MENU FUNCTIONALITY **********/

/****** WHEN SIZE IS GREATER THAN OR EQUAL TO 768PX **********/
@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    text-align: center;
    top: 4.6em;
  }

  .dropdown-menu>li>a:hover {
    background-color: #42c6c6;
    border-radius: 8px;
    transition: background-color 0.5s linear;
  }

  .navbar-nav{
    margin-top: -50px;
    text-align: center;
    vertical-align: top;
    width: 100%;
  }

  .navbar-nav li {
    display: inline-block;
    float: none;
  }
}

/****** WHEN SIZE DIPS BELOW 768PX **********/
@media (max-width: 767px) {
  .nav a {
    background: #ffffff;
    font-size: 1em;
  }

  #logoWrapper {
    display: block;
    margin: 0, auto;
    max-height: 80px;
    max-width: 80px;
    padding-top: 7.5px;
  }

  .caret {
    display: none;
  }

  .nav li {
    padding: 0px;
  }
}

/******************************************
BODY
******************************************/

body {
  background: #595959;
}

.contentPanel {
  background-color: white;
  border-radius: 8px;
}

#columnOne {
  display: inline-block;
  margin-left: 2%;
  margin-top: 110px;
  width: 47%;
}

#columnTwo {
  display: inline-block;
  float:right;
  margin-right: 2%;
  margin-top:110px;
  width: 47%;
}

#columnThree {
  display: block;
  max-width: 100%;
  text-align: center;
}

/****** WHEN SIZE DIPS BELOW 768PX **********/
@media (max-width: 767px) {
  #columnOne {
    display: block;
    margin: 80px 2% 0 2%;
    width: 96%
  }

  #columnTwo {
    margin: 0 2%;
    width: 96%;
  }

}

/******************************************
Footer
******************************************/

footer {
  background-color: #333;
  font-size: 0.75em;
  margin: 4% auto;
  overflow: hidden;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
}

.socialIcon {
  border-radius: 25%;
  height: 20px;
  margin: 0 5px;
  width: 20px;
}


/******************************************
About Page
******************************************/

#aboutPage {
  color: #63C2C6;
  font-size: 1.5em;
  margin-left: 3%;
  margin-right: 3%;
  margin-top:110px;
  width: 94%;
}

#aboutTitle {
  display: block;
  font-weight: bolder;
  width: 100%
}

.personalPicture {
  border-radius: 19px;
  display: block;
  float: right;
  max-width: 50%;
  margin-left: 1%;
}

/****** WHEN SIZE DIPS BELOW 768PX **********/
@media (max-width: 767px) {
  #aboutPage {
    margin-top:80px;
  }
}

/****** WHEN SIZE DIPS BELOW 481PX **********/
@media (max-width: 480px) {
  #aboutTitle {
    text-align: center;
  }

  .personalPicture {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}
